[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Nematode"]
	path = Nematode
	url = https://github.com/h-xuanjiu/nematode
[submodule "ncmR"]
	path = ncmR
	url = https://github.com/h-xuanjiu/ncmr
